.imageContainer{

    max-width: 1100px;
    margin: 20px auto;

}

.con-img img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}
.arc-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.img-1{
    background-size: 200px 200px;
    text-align: center;
    padding: 100px;
    border: 1px solid #ccc;
	background-image: url();

}
.img-2{
    background-size: 200px 200px;
    text-align: center;
    padding: 100px;
    border: 1px solid #ccc;
	background-image: url();

}
.img-3{
    background-size: 200px 200px;
    text-align: center;
    padding: 100px;
    border: 1px solid #ccc;
	background-image: url();

}
.img-4{
    background-size: 200px 200px;
    text-align: center;
    padding: 100px;
    border: 1px solid #ccc;
	background-image: url();

}


.text{
    width: 600px;
}